.header-col{
    background-color: rgb(95, 94, 119);
}
.chat-deco a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}
img{
    border-radius: 100%;
}
p{
    font-size: 12px;
}
span{
    font-size: 15px;
    font-weight: lighter;
}
i{
    font-size: 20px;
}